*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif, "Montserrat", "Kaushan Script", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}
.subheading {
  font-family: "Kaushan Script";
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    font-family: "Kaushan Script";
    font-weight: 500;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
    font-family: "Kaushan Script";
    font-weight: 500;
  }
}
